<!DOCTYPE html>
<html lang="en">

<head>
    {% include "patterns/head.html" %}
    <title>Account</title>
</head>

<body>
    {%include "patterns/header.html" with has_rests=has_rests rest_max=rest_max %}

    <body>
        <div class="my-account">

            <h1 id="my_account_title">My Account</h1>
            <div>
                <h2>Email: {{user_email}}</h2>
                <a href="/accounts/password/password_reset"><button style="margin-right:20px" type="button"
                        class="button">Reset Password</button></a>
                <a href="delete-account"
                    onclick="return confirm('Are you sure? Account deletions are permanent. Your account and all of your data will be deleted.')"><button
                        style="margin-right:20px" type="button" class="button submit-delete-button">Delete
                        Account</button></a>
            </div>
        </div>
        {% include "patterns/footer.html" %}
    </body>