<!DOCTYPE html>
<html lang="en">

<head>
    {% include "patterns/head.html" %}
    <title>Account</title>
</head>

<body>
    {%include "patterns/header.html" with has_rests=has_rests rest_max=rest_max %}

    <body>
        <div class="my-account">

            <h1 id="my_account_title">My Account</h1>
            <div>
                <h2>Email: {{user_email}}</h2>
                <a href="/accounts/password/password_reset"><button style="margin-right:20px" type="button"
                        class="button">Reset Password</button></a>
                <a href="delete-account"
                    onclick="return confirm('Are you sure? Account deletions are permanent. Your account and all of your data will be deleted.')"><button
                        style="margin-right:20px" type="button" class="button submit-delete-button">Delete
                        Account</button></a>
            </div>
            <div style="margin-top:50px;">
                <p><b>Distance Measurement</b></p>
                <form action="{{submit_path}}" method="post">
                    {% csrf_token %}
                    <input id="miles" class="large-radio" type="radio" name="measurement" value="true"
                        size="50" onclick="this.form.submit();" checked><label id=miles_label
                        class="enlarged-on-mobile" for="miles">mi</label>
                    <input id="km" class="large-radio" type="radio" name="measurement" value="false"
                        size="50" onclick="this.form.submit();"><label id=miles_label
                        class="enlarged-on-mobile" for="km">km</label>
                </form>
            </div>
            {%if not miles %}
            <script>
                let kmRadio = document.getElementById("km");
                kmRadio.checked = true;
            </script>
            {%endif%}
        </div>
        {% include "patterns/footer.html" %}
    </body>