/* Add a black background color to the top navigation */
.topnav {
  background-color: #217985;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 black;
  position: fixed;
  width: 100%;


}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

td,
th {
  max-width: 300px;
  vertical-align: middle;
  margin: 0px;
}

td {
  padding: 10px 10px 10px 10px;
  text-overflow: hidden;
  overflow-y: scroll;
  border-right: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);

}

tr:hover:not(:first-child) {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.655);
}

.table-row {
  max-height: 30px;
}

table {
  margin-top: 3%;
  border-spacing: 0px;
  border-radius: 10px;
  box-shadow: 5px 4px 30px rgba(0, 0, 0, .10);

}


table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

th {
  padding: 3px 10px 3px 10px;
  font-size: 18px;
  min-width: 20px;
  background-color: #4ca0af;
  color: white;
  border: 1px solid #4ca0af;
  text-shadow: 1.5px 1.5px 1px black;
  font-weight: lighter;
}

td:first-child {
  border-left: 1px solid rgb(200, 200, 200);
}


th:first-of-type {
  border-top-left-radius: 10px;
}

th:last-of-type {
  border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}


tbody tr:nth-child(odd) {
  background-color: rgb(200, 233, 238);
}



.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}


.right {
  margin-left: auto;
  margin-right: 0;
}



#container {
  width: 100%;
}

#left {
  float: left;
  width: 100px;
}

#right {
  float: right;
  width: 100px;
}

#center {
  margin: 0 auto;
  width: 100px;
}

.no-border {
  border: 0;
  padding: 1px 1px 1px 5px;
  background-color: transparent;

}

#welcome_message {
  font-size: 15px;
  width: 50%;
  margin-top: 30px;
  text-align: center;
  margin: auto;
}


body {
  background-color: #faf8f3;
  margin: 0px;
  font-family: Optima;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fa_custom {
  size: 24px;
  color: black;
}


.category_radio {
  margin-top: 15px;
  margin-bottom: 15px;
}

#category_text {
  margin-left: 10px;
}

#category_dropdown {
  margin-left: 10px;
  height: 25px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}


#category_text {
  border: 1px solid rgb(200, 200, 200);
  height: 25px;
  border-radius: 5px;
}

.button {
  background-color: #4ca0af;
  border: none;
  color: white;
  padding: 10px 16px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, .10);
}


.account-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;


}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.account-form-div {
  width: 20%;
  text-align: center;
  margin-top: 50px;
  margin: auto;

  min-width: 200px;
}

.submit-rest-button {
  font-size: 15px;
  padding: 10px;
}

.submit-delete-button {
  margin-right: 10px;
  background-color: rgb(123, 1, 1);
}


.slider {
  position: relative;
  left: 10%;
  margin-top: 0px;
  width: 140px;
  height: 10px;
  padding: 5px;
  background: #fcfcfc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px #7E6D5766;
}

.slider p {
  font-size: 15px;
  font-weight: 600;
  font-family: Open Sans;
  padding-left: 15px;
  color: black;
}

.slider input[type="range"] {
  -webkit-appearance: none !important;
  width: 100px;
  height: 2px;
  background: black;
  border: none;
  outline: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 15px;
  height: 15px;
  background: black;
  border: 2px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.slider-disabled input[type="range"]::-webkit-slider-thumb {
  cursor: default;
}

.slider-disabled {
  opacity: 30%;
}

.rating {
  display: inline-flex;
}

.rest-form {
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 0px 40px 20px 40px;
  ;
}

.rest-form-inner {
  text-align: left;
  display: inline-block;
  box-shadow: 5px 4px 30px rgba(0, 0, 0, .10);
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid rgb(200, 200, 200);
  background-color: #faf8f3;
}

.form-input>* {
  margin-top: 15px;
  vertical-align: middle;
}

.sortable-columns {
  text-decoration: none;
  font-weight: lighter;
  color: #f2f2f2;
}

.starting-location-search-div {
  margin-top: 10px;

  text-align: center;
}

.my-rests-title-row {
  margin-top: 50px;
}

#rest_title {
  text-align: center;
  font-size: 18px;
  padding: 3px 10px 3px 10px;
  font-size: 18px;
  color: white;
  text-shadow: 1.5px 1.5px 1px black;
  font-weight: lighter;
  width: 50%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #4ca0af;
  color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 3px 30px rgba(0, 0, 0, .10);
}

.filters {
  width: 20%;
  text-align: center;
}

.tried-radios{
display:inline;
}

.category-list-inner,
.starting-location-search-div{
  margin-left: auto;
  margin-right: 0;
  width: 100%;
  max-height: 300px;
  min-width: 90px;
  max-width: 150px;
  padding-bottom: 10px;
  box-shadow: 5px 4px 30px rgba(0, 0, 0, .10);
  border-radius: 10px;
  border: 1px solid rgb(200, 200, 200);
}

.category-list-inner{
  text-align: left;
}

.starting-location-search-div{
  text-align: center;
}

.category-list-items {
  overflow-y: scroll;
  overflow: scroll;
  white-space: nowrap;
  list-style-type: none;
  margin: 0px;
  list-style-position: inside;
  padding-left: 0px;
}

.filters-header {
  text-align: center;
  font-size: 18px;
  padding: 3px 10px 3px 10px;
  font-size: 18px;
  color: white;
  text-shadow: 1.5px 1.5px 1px black;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #4ca0af;
  color: white;
  margin-top: -2px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 5px 3px 30px rgba(0, 0, 0, .10);
}





.starting-location-search-input, .add-rest-search {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  height: 25px;
  width: 90%;
}



.max-category-message {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.658);
  text-align: center;

}

.div-table {
  display: table;
  border-collapse: separate;
  border-spacing: 0px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.div-row {
  display: table-row;
}

.div-cell {
  display: table-cell;
  padding: 10px;
}

#add-rest-link:hover {
  cursor: pointer;
}

.submit-buttons {

  text-align: right;
  visibility: hidden;
}


footer {
  border-top: 1px solid rgb(200, 200, 200);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  text-align: center;
}

.footer-table-cell {
  font-size: 10px;
}

.footer-table-cell {
  display: table-cell;
  width: 33%;
  padding-right: 20px;
  padding-left: 20px;
}

.form-background {
  background-color: #4ca0af;
}

.notes-input {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

@media (max-width: 600px) {

  th {
    font-size: 10px;
    height: 20px;
  }

  td {
    font-size: 8px;
  }

  .table-row{
    max-height: none;
  }
  th,
  td {
    white-space: wrap;
    margin-left: 0px;
    padding: 5px;
    overflow: hidden;
  }

  .hidden-mobile {
    display: none;
  }

  .topnav a {
    font-size:20px;
    margin-right: 20px;
  }

  .category-list-inner,
  .starting-location-search-div {
    font-size: 15px;
    width: 100%;
    margin-right: 5px;
  }
  .starting-location-search-div{
    min-width: 0;
  }
  .filters-header {
    font-size: 15px;
    white-space: normal;
  }

  .filters {
    margin-left: 15px;
    max-width: 300px;
  }


  #page_count {
    font-size: 20px;
    white-space: nowrap;
  }

  .centered {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .large-radio {
    width: 20px;
    height: 20px;
  }

  .rating{
    font-size: 15px;
  }


  .tried_label {
    font-size: 20px;
    margin-left: 3px;
    margin-right: 5px;
  }

  .starting-location-search-input {
    height: 30px;
    font-size: 15px;
    max-width: 80%;
    margin-bottom: 5px;
    margin-top: 5px;
    min-width: 0;
  }

  

  .add-rest-search {
    height: 40px;
    font-size: 15px;
    max-width: 300px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .rest-form {
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;


  }


  .rest-form-inner {
    width: 60%;
    margin-left: 0px;
    margin-right: 80px;
  }

  #rest_title {
    font-size: 20px;
  }

  .enlarged-on-mobile {
    font-size: 20px;
  }

  .tried-radios{
    display:block;
    margin-top: 10px;
    }
    
  .notes-input {
    font-size: 25px;
    width: 90%;
    margin-top: 10px;
  }


  .slider {
    margin-top: 15px;
    width: 200px;
    height: 30px;
  }

  .slider p {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 4px;
  }

  .slider input[type="range"] {
    width: 150px;
    height: 4px;
  }

  .slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 20px;
    height: 20px;
  }

  #category_dropdown {
    height: 50px;
    margin-top: 10px;
    width: 200px;
    font-size: 25px;
    margin-bottom: 15px;

  }

  #category_text {
    height: 50px;
    width: 200px;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .category-list-items{
    margin-left: 2px;
  }
  #welcome_message {
    font-size: 20px;
    width: 90%;
    margin-top: 40px;
  }

  .account-form-div {
    font-size: 15px;
    width: 50%;
    margin-top: 100px;

  }

  .div-table{
    margin-top: 70px;
  }

  .account-form {
    height: 50px;
    width: 200px;
    font-size: 20px;
  }

  .button {
    /* padding: 20px 25px; */
    font-size: 15px;
    margin-top: 30px;
  }

  th:nth-child(5) {
    border-top-right-radius: 10px;
  }

  tr:last-of-type td:nth-child(5) {
    border-bottom-right-radius: 10px;
  }

  .password-reset-form li {
    list-style-type: none;
    font-size: 10px;
  }

  .password-reset-form input {
    height: 40px;
    width: 160px;
    font-size: 20px;
    margin-top: 20px;
  }



  footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*or just height:50px;*/
    margin-top: auto;
    text-align: center;
    font-size: 5px;
  }
  
  /* Footer height */
  
  .footer-table-cell {
    display: table-cell;
    width: 33%;
    font-size: 5px;
    padding-right: 20px;
    padding-left: 20px;
  }

}