/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(33, 121, 133);
  overflow: hidden;
  box-shadow: 0 2px 5px 0 black;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

td,
th {
  max-width: 300px;
  vertical-align: middle;
}

td {
  padding: 10px 10px 10px;
  text-overflow: hidden;
  overflow-y: scroll;
  border-right: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);

}

tr:hover:not(:first-child) {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.655);
}

.table-row {
  height: 30px;
}

table {
  margin-top: 3%;
  width: 100%;
  border-spacing: 0px;
  border-radius: 10px;
  box-shadow: 5px 4px 30px rgba(0, 0, 0, .10);

}


table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

th {
  padding: 3px 10px 3px 10px;
  font-size: 18px;
  min-width: 20px;
  background-color: #4ca0af;
  color: white;
  border: 1px solid #4ca0af;
  text-shadow: 1.5px 1.5px 1px black;
  font-weight: lighter;
}

td:first-child {
  border-left: 1px solid rgb(200, 200, 200);
}


th:first-of-type {
  border-top-left-radius: 10px;
}

th:last-of-type {
  border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}


tbody tr:nth-child(odd) {
  background-color: rgb(200, 233, 238);
}



.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.right {
  margin-left: auto;
  margin-right: 0;
}



#container {
  width: 100%;
}

#left {
  float: left;
  width: 100px;
}

#right {
  float: right;
  width: 100px;
}

#center {
  margin: 0 auto;
  width: 100px;
}

.no-border {
  border: 0;
  padding: 1px 1px 1px 5px;
  background-color: transparent;

}




body {
  background-color: rgb(250, 248, 243);
  margin: 0px;
  font-family: Optima;
}

.fa_custom {
  size: 24px;
  color: black;
}


.category_radio {
  margin-top: 15px;
  margin-bottom: 15px;
}

#category_text {
  margin-left: 10px;
}

#category_dropdown {
  margin-left: 10px;
}


.button {
  background-color: #4ca0af;
  border: none;
  color: white;
  padding: 10px 16px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, .10);
}


.account-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;


}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.account-form-div {
  width: 20%;
  text-align:center; 
  margin-top:50px;
  margin:auto;
  min-width: 200px;
}

.submit-rest-button {
  font-size: 15px;
  padding: 10px;
}

.submit-delete-button {
  margin-right: 10px;
  background-color: rgb(123, 1, 1);
}


.slider {
  position: relative;
  left: 10%;
  margin-top: 0px;
  width: 140px;
  height: 10px;
  padding: 5px;
  background: #fcfcfc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px #7E6D5766;
}

.slider p {
  font-size: 15px;
  font-weight: 600;
  font-family: Open Sans;
  padding-left: 15px;
  color: black;
}

.slider input[type="range"] {
  -webkit-appearance: none !important;
  width: 100px;
  height: 2px;
  background: black;
  border: none;
  outline: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 15px;
  height: 15px;
  background: black;
  border: 2px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.slider-disabled input[type="range"]::-webkit-slider-thumb {
  cursor: default;
}

.slider-disabled {
  opacity: 30%;
}

.rating {
  display: inline-flex;
}

.rest-form {
  align-items: center;
  margin:auto;
  text-align: center;
  padding:0px 40px 20px 40px;;
}

.rest-form-inner {
  text-align: left;
  display: inline-block;
  background-color: rgba(200, 233, 238, 0.605);
  box-shadow: 5px 4px 30px rgba(0, 0, 0, .10);
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
}

.form-input>* {
  margin-top: 15px;
  vertical-align: middle;
}

.sortable-columns {
  text-decoration: none;
  font-weight: lighter;
  color: #f2f2f2;
}

.starting-location-search {
  margin-top: 10px;
}

.my-rests-title-row {
  margin-top: 50px;
}


.filters {
  width: 20%;
  text-align: center;
}



.category-list-inner,
.starting-location-search {
  margin-left: auto;
  margin-right: 0;
  width: 100%;
  max-height: 300px;
  min-width: 90px;
  max-width: 200px;
  padding-bottom: 10px;
  overflow-y: scroll;
  overflow: scroll;
  white-space: nowrap;
  background-color: rgba(200, 233, 238, 0.605);
  box-shadow: 5px 4px 30px rgba(0, 0, 0, .10);
  border-radius: 10px;
  text-align: left;
  border: 1px solid rgb(200, 200, 200);
}

.category-list-items {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.categories-header {
  font-size: 18px;
  margin-bottom: 6px;
  text-align: center;


}

.starting-location-input {
  text-align: center;
}

#searchTextField {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  height: 25px;
  margin: 0px 10px 0px;}

.max-category-message {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.658);
  text-align: center;
 
}

.div-table {
  display: table;
  border-collapse: separate;
  border-spacing: 0px;
}

.div-row {
  display: table-row;
}

.div-cell {
  display: table-cell;
  padding: 10px;
}

#add-rest-link:hover{
  cursor: pointer;
}

.submit-buttons{

  text-align: right;
  visibility: hidden;
}
