<html>

<head>
    <title>My restaraunts</title>
</head>

<body>
    <nav>
        <a href="/">rest-review</a>
        <div>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="add-rest">Add a Restaraunt</a>
                </li>
                <li>
                    <a href="accounts/logout">logout</a>
                </li>
                {% else %}
                <li>
                    <a href="accounts/register">sign up</a>
                </li>
                <li>
                    <a href="accounts/login">login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <table>
        <tr>
            <th>Restaraunt</th>
            <th>Rating</th>
            <th>Category</th>
            <th>City</th>
            <th>State</th>
            <th>Postal Code</th>
            <th>Drive Time</th>
            <th>Notes</th>
        </tr>
        {% for rest in rests %}
        <tr>
            <td> {{rest.restaraunt}} </td>
            <td> {{rest.rating}} </td>
            <td> {{rest.street_address}} </td>
            <td> {{rest.city}} </td>
            <td> {{rest.state}} </td>
            <td> {{rest.postal_code}} </td>
            <td> {{rest.drive_time}} </td>
            <td> {{rest.notes}} </td>
            <td> <a href="{% url 'edit-rest' rest.id %}">
                    <button type="button">Edit</button> </a> </td>
            <td> <a href="{% url 'delete-rest' rest.id %}" onclick="return confirm('Are you sure?')">
                    <button type="button">Delete</button> </a> </td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>