<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>
        {% block title %}base-template{% endblock title %}
    </title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/{{FA_KEY}}.js" crossorigin="anonymous"></script>
    {% block head_extra %}{% endblock head_extra %}
</head>

<body>
    <script src="{% static 'js/center_popup.js' %}" type="text/javascript"></script>

    <div class="topnav">
        <a href="//www.restreviews.com">RestReviews</a>

        {% if user.is_authenticated %}
        <a href="//www.restreviews.com/my-rests">My Restaraunts</a>

        {% if request.path != "/add-rest" %}

        <a id="add-rest-link" onclick="MyPopUpWin('add-rest', 600,600);">Add a Restaraunt</a>

        {% endif %}

        <a href="//www.restreviews.com/accounts/logout">Logout</a>
fig 
        {% else %}
        {% if request.path != "/accounts/register" %}

        <a href="//www.restreviews.com/accounts/register">Sign Up</a>

        {% endif %}
        {% if request.path != "/accounts/login" %}

        <a href="//www.restreviews.com/accounts/login">Login</a>

        {% endif %}
        {% endif %}

    </div>

    {% block content %}
    {% endblock content %}
    <div id="footer-separator"></div>
    <footer>

        <div style="display: table">
            <div style="display:table-row">
                <div class="footer-table-cell">
                    <p>Disclaimer </p>
                    <p style="font-size: small;">
                        All custom code, designs, and logos are the intellectual property of RestReviews.com. 
                        Any reproduction of said property is not to be used in pursuit of monetary profit without express
                        written consent by the owners of RestReviews.com. 
                </div>
                <div class="footer-table-cell">
                    <p>Privacy Policy</p>
                    <p style="font-size: x-small;">RestReviews.com does not save any personal information beyond email.
                        Saved data includes all Rest information displayed.
                        Your starting location is never saved; distances are calculated in the front-end.
                        Your data is not shared or sold to a 3rd party. RestReviews.com is not responsible for data exposed through hacking or means of breaching website security.
                        However, RestReviews.com does aim to maintain best practices for of keeping user data safe.
                    </p>
                    </p>
                </div>
                <div class="footer-table-cell">
                    <p>Contact </p>
                    <p>info.restreview@gmail.com</p>
                    
                </div>
            </div>
        </div>
    </footer>
</body>