<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>
        {% block title %}base-template{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/{{FA_KEY}}.js" crossorigin="anonymous"></script>
    {% block head_extra %}{% endblock head_extra %}
</head>

<body>
    <script src="{% static 'js/center_popup.js' %}" type="text/javascript"></script>

    <div class="topnav">
        <a href="//127.0.0.1:8000">RestReviews</a>

        {% if user.is_authenticated %}
        {% block show_my_rest %}
        <a href="//127.0.0.1:8000/my-rests">My Restaraunts</a>
        {%endblock%}

        {% if request.path != "/add-rest" %}

        <a id="add-rest-link" onclick="MyPopUpWin('add-rest', 600,600);">Add a Restaraunt</a>

        {% endif %}

        <a href="//127.0.0.1:8000/accounts/logout">Logout</a>

        {% else %}
        {% if request.path != "/accounts/register" %}

        <a href="//127.0.0.1:8000/accounts/register">Sign Up</a>

        {% endif %}
        {% if request.path != "/accounts/login" %}

        <a href="//127.0.0.1:8000/accounts/login">Login</a>

        {% endif %}
        {% endif %}

    </div>

    {% block content %}
    {% endblock content %}
    <div id="footer-separator"></div>
    <footer>

        <div style="display: table">
            <div style="display:table-row">
                <div class="footer-table-cell">
                    <p>Disclaimer </p>
                    <p style="font-size: small;">
                        All custom code, designs, and logos are the intellectual property of RestReviews.com. 
                        Any reproduction of said property is not to be used in pursuit of monetary profit without express
                        written consent by the owners of RestReviews.com.
                    </p>
                </div>
                <div class="footer-table-cell">
                    <p>Privacy Policy</p>
                    <p style="font-size: small;">RestReviews.com does not save any personal information beyond email.
                        Saved data includes all Rest information displayed.
                        Your starting location is never saved; distances are calculated in the front-end.
                        Your data is not shared or sold to a 3rd party.
                    </p>
                </div>
                <div class="footer-table-cell">
                    <p>Contact </p>
                    <p>info.restreview@gmail.com</p>
                    
                </div>
            </div>
        </div>
    </footer>
</body>