{% extends 'base.html' %}

{% block title %}my-rests{% endblock title %}
{% load static %}

{% block content %}
<div class="centered">
    <div class="rest-children"></div>
    <h1 style="margin-top:50px;">My Restaraunts</h1>
        <table>
            
            <tr>
      
                <th><a class="sortable-columns" id="rest">Rest</a></th>
                <th><a class="sortable-columns" id="my_rating">My Rating</a></th>
                <th><a class="sortable-columns" id="rating">Rating</a></th>
                <th><a class="sortable-columns" id="category">Category</a></th>
                <th>Address</th>
                <th>Notes</th>
           


            </tr>
     
            {% for rest in rests %}
            <tr onclick="location.href='{% url 'edit-rest' rest.id %}'">
                <td>
                    <div class="table-row"> {{rest.rest}}</div>
                </td>
                <td>
                    <div class="table-row">{{rest.my_rating}}</div>
                </td>
                <td>
                    <div class="table-row">{{rest.rating}}</div>
                </td>
                <td>
                    <div class="table-row">{{rest.category}}</div>
                </td>
                <td>
                    <div class="table-row">{{rest.address}}</div>
                </td>
                <td>
                    <div style="text-align: left" class="table-row">{{rest.notes}}</div>
                </td>
            </tr>
            {% endfor %}
       
        </table>
    <script src="{% static 'js/table_sorting.js' %}" type="text/javascript"></script>

    <div id="container">
        <div id="left">
            {% if has_back %}
            <a href="{% url 'my-rests' back_page %}">
                <button type="button" class="button">Back</button>
            </a>
            {%endif%}
        </div>
        <div id="right">
            {% if has_next %}
            <a href="{% url 'my-rests' next_page %}">
                <button type="button" class="button">Next</button></a>
            {%endif%}
        </div>
        <div id="center">
            <p>Page {{page}} of {{total_pages}}</p>
        </div>
    </div>



</div>

{% endblock content %}