{% extends 'base.html' %}

{% block title %}my-rests{% endblock title %}


{% block content %}
<div class="centered">
    <div class="rest-children"></div>
    <h1 style="margin-top:50px;">My Restaraunts</h1>
    <table>
        <tr>
            <th>Restaraunt</th>
            <th>Rating</th>
            <th>My Rating</th>
            <th>Category</th>
            <th>Address</th>
            <th>Notes</th>
            <th class="no-border"></th>
            <th class="no-border"></th>
        </tr>
        {% for rest in rests %}
        <tr>
            <td> {{rest.rest}} </td>
            <td> {{rest.rating}} </td>
            <td> {{rest.my_rating}} </td>
            <td> {{rest.category}}</td>
            <td> {{rest.address}} </td>
            <td> {{rest.notes}} </td>
            <td class="no-border"> <a href="{% url 'edit-rest' rest.id %}">
                    <i class="fa fa-pen-to-square fa_custom"></i></a></td>
            <td class="no-border"> <a href="{% url 'delete-rest' rest.id %}" onclick="return confirm('Are you sure?')">
                    <i class="fa fa-regular fa-trash fa_custom"></i></a> </td>
        </tr>
        {% endfor %}
    </table>

    <div id="container">
        <div id="left">
            {% if has_back %}
            <a href="{% url 'my-rests' back_page %}">
                <button type="button" class="button">Back</button>
            </a>
            {%endif%}
        </div>
        <div id="right">
            {% if has_next %}
            <a href="{% url 'my-rests' next_page %}">
                <button type="button" class="button">Next</button></a>
            {%endif%}
        </div>
        <div id="center">
            <p>Page {{page}} of {{total_pages}}</p>
        </div>
    </div>



</div>

{% endblock content %}