{% extends 'base.html' %}

{% block title %}<title>my-rests</title>{% endblock title %}


{% block content %}
    <table border="1">
        <tr>
            <th>Restaraunt</th>
            <th>Rating</th>
            <th>My Rating</th>
            <th>Category</th>
            <th>Address</th>
            <th>Notes</th>
        </tr>
        {% for rest in rests %}
        <tr>
            <td> {{rest.rest}} </td>
            <td> {{rest.rating}} </td>
            <td> {{rest.my_rating}} </td>
            <td> {{rest.category}}</td>
            <td> {{rest.address}} </td>
            <td> {{rest.notes}} </td>
            <td> <a href="{% url 'edit-rest' rest.id %}">
                    <button type="button">Edit</button> </a> </td>
            <td> <a href="{% url 'delete-rest' rest.id %}" onclick="return confirm('Are you sure?')">
                    <button type="button">Delete</button> </a> </td>
        </tr>
        {% endfor %}
    </table>
    {% if has_back %}
    <a href="{% url 'my-rests' back_page %}">
        <button type="button">Back</button>
    {%endif%}
    {% if has_next %}
    <a href="{% url 'my-rests' next_page %}">
        <button type="button">Next</button>
    {%endif%}
{% endblock content %}