{% extends 'base.html' %}
{% block title %}rest-base{% endblock title %}

{% block head_extra %}
{% load static %}
<script
    src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&v=3.exp&sensor=false&libraries=places"></script>
<script src="{% static 'js/find_place.js' %}" type="text/javascript"></script>
{% endblock head_extra %}

{% block content %}

<div class="rest-form">

    <div class="rest-form-inner">
        <div style="text-align: center;">
            {% if 'add' in request.path %}
            <h1>Add a Restaraunt</h1>
            {%else%}
            <h1>Edit a Restaraunt</h1>
            {%endif%}
        </div>
        <form action="{{submit_path}}" method="post">
            {% csrf_token %}
            <label>
                {% if 'add' in request.path %}
                <input id="searchTextField" type="text" size="50">
                {%else%}
                <input id="searchTextField" type="text" size="50" value="{{address}}">
                {%endif%}
            </label>


            <div class="form-input">
                <div>
                    <label>Have you been?</label>


                    <input type="radio" id="tried_true" class="tried_radio" name="tried_radio" value="true" required>
                    <label for="tried_true">Yes</label>
                    <input type="radio" id="tried_false" class="tried_radio" name="tried_radio" value="false" required>
                    <label for="tried_false">No</label>


                </div>
            </div>

            <div class="form-input">
                <div style="display:inline-block;">
                    <label for="ratingInput">My Rating:</label>
                </div>

                <div style="display:inline-block;">

                    <div id="slider_div" class="slider">

                        <input id="my_rating" name="my_rating" type="range" min="0" max="5" value="0" step="0.1"
                            oninput="range_value.innerText = this.value" />
                        <p id="range_value">

                        </p>
                    </div>
                </div>
            </div>

            {% if 'add' in request.path or my_rating == None %}
            <script>
                const triedFalseRadio = document.getElementById("tried_false");
                triedFalseRadio.checked = true;
            </script>
            {% else %}
            <script>
                const triedTrueRadio = document.getElementById("tried_true");
                triedTrueRadio.checked = true;
            </script>
            {% endif %}

            {%if 'edit' in request.path%}
            <script>
                const my_rating = "{{form.my_rating}}"
                rangeSlider = document.getElementById("my_rating");
                rangeSlider.value = my_rating;
                rangeValue = document.getElementById("range_value");
                rangeValue.innerHTML = my_rating;
            </script>
            {% endif %}
            <script src="{% static 'js/rating_slider.js' %}" type="text/javascript"></script>

            <div class="form-input">
                {% if categories %}
                <div>
                    <input type="radio" id="existing_category_radio" class="category_radio" name="category_radio" />
                    <label for="existing_category_radio">Create New category
                    <input type="text" id="category_text" name="category_text" disabled />
                    </label>
                </div>
                {%else%}
                <div>
                    <input type="radio" id="new_category_radio" class="new_category_radio" name="category_radio" checked
                        required />
                    <label for="new_category_radio">Create New Category
                    <input type="text" id="category_text" name="category_text" />
                </label>
                </div>
                {%endif%}


            </div>
            {% if categories %}
            <div>
                <input type="radio" class="category_radio" id="category_dropdown_radio" name="category_radio" checked />
                <label for="category_dropdown_radio">Choose an Existing Category</label>
                <select id="category_dropdown" name="category_dropdown">
                    {% for category in categories %}
                    {% if 'edit' in request.path and current_category == category %}
                    <option value="{{category}}" selected>{{category}}</option>
                    {%else%}
                    <option value="{{category}}">{{category}}</option>
                    {%endif%}
                    {%endfor%}
                </select>
            </div>
            {%endif%}
            <script src="{% static 'js/category_dropdown.js' %}" type="text/javascript"></script>
            <div>
                <textarea rows="4" cols="40" id="notes" name="notes" placeholder="Notes"></textarea>
            </div>
            <input type="hidden" id="address" name="address" />
            <input type="hidden" id="rest" name="rest" />
            <input type="hidden" id="rating" name="rating" />
            <input type="hidden" id="latitude" name="latitude" />
            <input type="hidden" id="longitude" name="longitude" />
            {%if 'edit' in request.path %}
            <script>
                address = document.getElementById("address");
                address.value = "{{form.address}}";
                rest = document.getElementById("rest");
                rest.value = "{{form.rest}}";

            </script>
            {%endif%}
            <div style="text-align: right;">
                <button class="button submit-rest-button" type="submit">Save Rest</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}