<footer>
    <div style="display: table">
        <br>
        <div style="display:table-row">
            <div class="footer-table-cell">
                <p>Disclaimer </p>
                <p>
                    All custom code, designs, and logos are the intellectual property of the repository's owner.
                    Any reproduction of said property is not to be used in pursuit of monetary profit without
                    express
                    written consent by the owner of the repository.
            </div>
            <div class="footer-table-cell">
                <p>Privacy Policy</p>
                <p>All data is the responsibility of the user forking this project and hosting/running it on their own devices. 
                    User bears all responsibility for protecting data and logins.
                </p>
                </p>
            </div>
            <div class="footer-table-cell">
                <p>Contact </p>
                <p id="contact_email">Code contributions welcome! See <a href="https://github.com/emberrett/RestReviews">repository</a>.</p>

            </div>
        </div>
    </div>
</footer>