<footer>
    <div style="display: table">
        <br>
        <div style="display:table-row">
            <div class="footer-table-cell">
                <p>Disclaimer </p>
                <p>
                    All custom code, designs, and logos are the intellectual property of RestReviews.com.
                    Any reproduction of said property is not to be used in pursuit of monetary profit without
                    express
                    written consent by the owners of RestReviews.com.
            </div>
            <div class="footer-table-cell">
                <p>Privacy Policy</p>
                <p>RestReviews.com does not save any personal information beyond email.
                    Saved data includes all Rest information displayed.
                    Your starting location is never saved; distances are calculated in the front-end.
                    Your data is not shared or sold to a 3rd party. RestReviews.com is not responsible for data
                    exposed through hacking or other means of breaching website security.
                    However, RestReviews.com does aim to maintain best practices for keeping user data safe.
                </p>
                </p>
            </div>
            <div class="footer-table-cell">
                <p>Contact </p>
                <p id="contact_email">info.restreview@gmail.com</p>

            </div>
        </div>
    </div>
</footer>